<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css.css">
  <title>Document</title>
</head>
<body>
  <%- include('./home') %>
  <div class="container">
      <form action="/Cadastro" method="post" id="Cadastro">
      
        <label>Nome:</label>
        <input type="text" name="nome" id="nome"  />
        <label>Rua</label>
        <input type="text" id="rua" name="rua" />
        <label>Número:</label>
        <input type="number" id="numero" name="numero" />
        <label>Cidade:</label>
        <input type="text" id="cidade" name="cidade" />
        <label>Cidade:</label>
        <input type="text" id="estado" name="estado" />
        <label>Data de Nascimento</label>
        <input type="date" id="dataNasc" name="dataNasc"/>
        <br>
        <input type="submit" value="Enviar"/>



      </form>
  </div>
</body>
</html>