<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
      <section>
       
        <form method="post"  action="/Login" name="Login">
            <label>Usuário</label>
           <input type="text" id="user" name="user"/>
           <label>Senha</label>
           <input type="password" id="passwd" name="passwd"/>
           <input type="submit" value="salvar" />
        </form>
      </section>
</body>
</html>